.black {
  color: #f4f4f4;
  background: rgb(16, 16, 16);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(32, 32, 32, 1) 50%,
    rgba(48, 48, 48, 1) 100%
  );
  min-height: 100dvh;
}
.white {
  color: #333;
  background: #f4f4f4;
  min-height: 100dvh;
}
